<%- include('./partials/header') %> 

<body class="sub_page">

  <div class="hero_area">
    <%- include('./partials/nav') %> 
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Induskill is a platform to provide help and support to skilled workers to find the suitable industry with their preferred location and salary . additionally we provide assistance to industries to find their workers with appropriate skills .our aim is to provide connection between industries and skilled workers. we also invite NGOs and government organisation to collaborate with us in our mission.
              Induskill is a platform to provide help and support to skilled workers to find the suitable industry with their preferred location and salary . additionally we provide assistance to industries to find their workers with appropriate skills .our aim is to provide connection between industries and skilled workers. we also invite NGOs and government organisation to collaborate with us in our mission.

            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->


  <%- include('./partials/footer') %>