<%- include('./partials/header') %> 

<body>

  <div class="hero_area">
    <%- include('./partials/nav') %> 

  
  <!-- slider section -->
  <!-- <section class="slider_section ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-7 col-md-8 mx-auto">
            <div class="detail-box">
              <h1>
                Build Your <br>
                POWERFUL CAREER
              </h1>
              <p>
                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                distribution of letters, as opposed to
              </p>
            </div>
          </div>
        </div>
        <div class="find_container ">
          <div class="container">
            <div class="row">
              <div class="col">
                <form>
                  <div class="form-row ">
                    <div class="form-group col-lg-3">
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Keywords">
                    </div>
                    <div class="form-group col-lg-3">
                      <select name="" class="form-control wide" id="inputDoctorName">
                        <option value="Normal distribution ">All Locations</option>
                        <option value="Normal distribution ">Location 2 </option>
                        <option value="Normal distribution ">Location 3 </option>
                      </select>
                    </div>
                    <div class="form-group col-lg-3">
                      <select name="" class="form-control wide" id="inputDepartmentName">
                        <option value="Normal distribution ">SEO Expert </option>
                        <option value="Normal distribution ">Web Designer </option>
                        <option value="Normal distribution ">Web Developer</option>
                        <option value="Normal distribution ">Graphic Deesigner</option>
                        <option value="Normal distribution ">Content Writer</option>
                      </select>
                    </div>
                    <div class="form-group col-lg-3">
                      <div class="btn-box">
                        <button type="submit" class="btn ">Submit Now</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <ul class="job_check_list">
              <li class=" ">
                <input id="checkbox_qu_01" type="checkbox" class="styled-checkbox">
                <label for="checkbox_qu_01">
                  Freelancer
                </label>
              </li>
              <li class=" ">
                <input id="checkbox_qu_02" type="checkbox" class="styled-checkbox">
                <label for="checkbox_qu_02">
                  Part Time
                </label>
              </li>
              <li class=" ">
                <input id="checkbox_qu_03" type="checkbox" class="styled-checkbox">
                <label for="checkbox_qu_03">
                  Full Time
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section> -->
    <!-- end slider section -->
     <!-- about section -->
<!-- <div class="container">
 
</div>
      -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 style="color: beige;">
               <u>About Us</u> 
              </h2>
            </div>
            <br>
            <p style="color: beige;">
              Induskill is a platform to provide help and support to skilled workers to find the suitable industry with their preferred location and salary . additionally we provide assistance to industries to find their workers with appropriate skills .our aim is to provide connection between industries and skilled workers. we also invite NGOs and government organisation to collaborate with us in our mission.
            </p>
            <!-- <a  href="">
              Read More
            </a> -->
            <br>
            <a style="background-color: white ; color: #000;" href="/about">Read More</a>
            <!-- <button type="button" class="btn btn-light">Read More</button> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <!-- <img src="images/about-img.jpg" alt=""> -->
            <img src="images/about-img.jpg" alt="avatar" class="image">
            <div class="overlay">
              <div class="text">Induskill</div>
            </div>
          </div>
        </div>
        <!-- <div class="container">
          <img src="images/about-img.jpg" alt="avatar" class="image">
          <div class="overlay">
            <div class="text">Induskill</div>
          </div>
        </div>  -->
      </div>
    </div>
  </section>

  <!-- end about section -->
  </div>
  
  <!-- category section -->
  <section class="category_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
          <a href="#" class="box">
            <div class="img-box">
              <img src="images/c1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Carpenter
              </h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
          <a href="#" class="box">
            <div class="img-box">
              <img src="images/c2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Plumber
              </h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
          <a href="#" class="box">
            <div class="img-box">
              <img src="images/c3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Electrician
              </h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
          <a href="#" class="box">
            <div class="img-box">
              <img src="images/c4.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Welder
              </h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
          <a href="#" class="box">
            <div class="img-box">
              <img src="images/c5.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Painter
              </h5>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
          <a href="#" class="box">
            <div class="img-box">
              <img src="images/c6.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Mason
              </h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end category section -->


 

  <!-- job section -->
  <section class="job_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          RECENT & FEATURED JOBS
        </h2>
      </div>
      <div class="job_container">
        <h4 class="job_heading">
          Featured Jobs
        </h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src="images/job_logo1.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Carpenter
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        Assam, India
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                        200 - 300/day
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <!-- <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="" class="apply-btn">
                  Apply Now
                </a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src="images/job_logo2.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Electrician
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                       Delhi, India
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                        200 - 340/day
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <!-- <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="" class="apply-btn">
                  Apply Now
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="job_container">
        <h4 class="job_heading">
          Recent Jobs
        </h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src="images/job_logo3.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Looking for Plumber
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        Gaya, Bihar
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                        10000/month
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <!-- <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="" class="apply-btn">
                  Apply Now
                </a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src="images/job_logo6.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Are you Welder?
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        Mumbai, Maharastra
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                        500 - 1000 /day
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <!-- <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="" class="apply-btn">
                  Apply Now
                </a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src="images/job_logo5.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Looking Experinced Painter
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        Lucknow, U.P.
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                        400 - 540/day
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <!-- <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="" class="apply-btn">
                  Apply Now
                </a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src="images/job_logo4.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Looking for Mason
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        Tata Nagar, U.P.
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                        350 - 450/day
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <!-- <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="" class="apply-btn">
                  Apply Now
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="/jobs">
          View All
        </a>
      </div>
    </div>
  </section>
  <!-- end job section -->

  <!-- learn section -->

  <section class="expert_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          WANT TO LEARN NEW SKILLS?
        </h2>
        <p>
          Whether you want to learn a new subject, gain a new skill, or just enhance the ones you already have, these videos will give you the framework you need to achieve mastery.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/carpentor.jpg" alt="">
            </div>
            <div class="detail-box">
              <a href="">
                Learn through videos
              </a>
              <h6 class="expert_position">
                <span>
                  Carpentering
                </span>
                <span>
                  41 Jobs Done
                </span>
              </h6>
              <span class="expert_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <!-- <p>
                Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam
                nulla
                mauris iaculis.
              </p> -->
              <form action="https://youtu.be/3cME3vK1aaQ">
                <input style="margin-left: 80px;" type="submit" value="Go to Video" />
            </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/car2.jpg" alt="">
            </div>
            <div class="detail-box">
              <a href="">
                Learn through videos
              </a>
              <h6 class="expert_position">
                <span>
                  Painter
                </span>
                <span>
                  41 Jobs Done
                </span>
              </h6>
              <span class="expert_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <!-- <p>
                Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam
                nulla
                mauris iaculis.
              </p> -->
              <form action="https://youtu.be/2eUxz_or2Qs">
                <input style="margin-left: 80px;" type="submit" value="Go to Video" />
            </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/PLUMBER.jpg" alt="">
            </div>
            <div class="detail-box">
              <a href="">
                Learn through videos
              </a>
              <h6 class="expert_position">
                <span>
                  Plumber
                </span>
                <span>
                  41 Jobs Done
                </span>
              </h6>
              <span class="expert_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <!-- <p>
                Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam
                nulla
                mauris iaculis.
              </p> -->
              <form action="https://youtu.be/gp3Kie8fdf0">
                <input style="margin-left: 80px;" type="submit" value="Go to Video" />
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="/learn">
          View All Skills Videos
        </a>
      </div>
    </div>
  </section>

  <!-- end learn section -->


<%- include('./partials/footer') %> 