<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>
            Induskill
          </span>
        </a>
        <div style="margin-left: 20px; margin-top: 10px;" id="google_translate_element"></div>
        <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jobs">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/learn">Learn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"> About</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>
                  Post Job
                </span>
              </a> -->
              <a href="/new-post" style="margin:7px;" class="btn btn-primary">Post a Job</a>
              <!-- <button href="new-post.ejs" type="button" style="margin:7px;" class="btn btn-primary">Post a Job</button> -->
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>
                  Want Job
                </span>
              </a> -->
              <a href="/job-post" class="btn btn-success">Want a Job</a>
            </li>
            <!-- <form class="form-inline">
              <button class="btn   nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form> -->
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
